# Ignorar bases de datos y archivos CSV (¡Por privacidad de los pacientes!)
datos/*.csv
datos/*.xlsx
datos/*.xls

# Ignorar la carpeta de resultados y modelos pesados generados
resultados/
*.keras
*.h5
*.pkl

# Archivos basura de Python y entornos virtuales
__pycache__/
*.pyc
venv/
env/
.env

# Archivos de sistema operativo (Mac/Windows)
.DS_Store
Thumbs.db
